<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663318219352-65gkf6bc1mod5a3uqu57h724hii9qg7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663318219352-65gkf6bc1mod5a3uqu57h724hii9qg7e</string>
	<key>API_KEY</key>
	<string>AIzaSyAmBhZKmbyfcaoWnbrVQoJdxkAxwaQZOQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>663318219352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.dichung.hubapp</string>
	<key>PROJECT_ID</key>
	<string>dichung-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>dichung-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663318219352:ios:24b97a1ae957c8d6a0182d</string>
	<key>DATABASE_URL</key>
	<string>https://dichung-dev.firebaseio.com</string>
</dict>
</plist>